{% extends 'base.html.twig' %}

{% block title %}Meteo Form
{% endblock %}

{% block body %}
	<div class=" mx-[20%] px-4 py-8 ">
		<btn class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" id="initButton">Initialiser</btn>

		{{ form_start(form, {'attr': {'class': 'space-y-6'}}) }}

		<h1 class="text-2xl font-bold mb-6">Formulaire Météo</h1>
		
		<div class="bg-white p-6 rounded-lg shadow-md">
			<h2 class="text-xl font-semibold mb-4">Hypothèses sur l'épandage des chlorures de sodium</h2>
			<div class="flex gap-4 font-bold">
				{{ form_row(form.fileYears, {'attr': {'class': ' p-2  border rounded'}}) }} <p>[ans]</p>
			</div>
			<div class="flex gap-4 font-bold">
				{{ form_row(form.sodiumChlorideConcentration, {'attr': {'class': ' p-2 border rounded'}}) }} <p>[%]</p>
			</div>
			<div class="flex gap-4 font-bold">
				{{ form_row(form.waterFilmThickness, {'attr': {'class': ' p-2 border rounded'}}) }} <p>[mm]</p>
			</div>
			<div class="flex gap-4 font-bold">
				{{ form_row(form.humidityThreshold, {'attr': {'class': ' p-2 border rounded'}}) }} <p>[%]</p>
			</div>

			<section class="bg-white p-6 rounded-lg shadow-md">
				<h2 class="text-xl font-semibold mb-4">Épandage Mécanique</h2>>
				{{ form_row(form.mechanicalAnnualSodium, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.mechanicalMeanSodium, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.mechanicalInterventions, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.mechanicalInterval, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.mechanicalSodiumWater, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.mechanicalThresholdTemperature, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
			</section>

			<section class="bg-white p-6 rounded-lg shadow-md">
				<h2 class="text-xl font-semibold mb-4">Épandage Automatique</h2>
				<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
					{{ form_row(form.automaticAnnualSodium, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
					{{ form_row(form.automaticMeanSodium, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
					{{ form_row(form.automaticSprays, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
					{{ form_row(form.automaticSprayInterval, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
					{{ form_row(form.automaticSodiumWater, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
					{{ form_row(form.automaticThresholdTemperature, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				</div>
			</section>

		</div>


		<div class="bg-white p-6 rounded-lg shadow-md">
			
		</div>

		<div class="bg-white p-6 rounded-lg shadow-md">
			<h2 class="text-xl font-semibold mb-4">Température et Humidité</h2>
				{{ form_row(form.extTemperaturePosition, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extTemperaturePosition2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extTemperatureAttenuation, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extTemperatureAttenuation2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extTemperatureDifference, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extHumidityPosition, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extHumidityPosition2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extHumidityAttenuation, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extHumidityAttenuation2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.extHumidityDifference, {'attr': {'class': 'w-full p-2 border rounded'}}) }}


				{{ form_row(form.intTemperaturePosition, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intTemperaturePosition2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intTemperatureAttenuation, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intTemperatureAttenuation2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intTemperatureDifference, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intHumidityPosition, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intHumidityPosition2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intHumidityAttenuation, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intHumidityAttenuation2, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
				{{ form_row(form.intHumidityDifference, {'attr': {'class': 'w-full p-2 border rounded'}}) }}
		</div>

		<div class="mt-6">
			{{ form_row(form.submit, {'attr': {'class': 'px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2'}}) }}
		</div>

		{{ form_end(form) }}
	</div>

	<script>
		document.getElementById('initButton').addEventListener('click', function() {
			fetch('/meteo-form/init', {
				headers: {
					'Content-Type': 'application/json'
				}
			})
					.then(response => {
						if (!response.ok) {
							throw new Error('Erreur lors de la récupération des données');
						}
						return response.json();
					})
					.then(data => {
						if (data.error) {
							alert(data.error);
							return;
						}

						Object.keys(data).forEach(key => {
							let input = document.getElementById('meteo_' + key);
							if (input) {
								input.value = data[key];
							}
						});
					})
					.catch(error => {
						console.error('Erreur:', error);
						alert('Erreur lors de l\'initialisation');
					});
		});

	</script>

{% endblock %}
