{% extends 'base.html.twig' %}

{% block title %}Exposure Series{% endblock %}

{% block body %}
    <div class="mx-[10%] px-4 py-8 flex flex-col">
        {% for message in app.flashes('success') %}
            <div class="bg-green-100 p-4 mb-4 rounded-lg">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="bg-red-100 p-4 mb-4 rounded-lg">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="text-2xl font-bold mb-6">Station météo : {{ weatherStation.getLocalFileName() }}</h1>
        <div>
            <a href="{{ path('weather_stations') }}"
               class="inline-block mb-4 px-4 py-2 bg-gray-300 text-gray-800 rounded hover:bg-gray-400">
                ← Revenir en arrière
            </a>
            <a href="{{ path('exposure_series_generate', {'id': weatherStation.id}) }}" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 focus:outline-none cursor-pointer">
                Générer une série
            </a>
        </div>

        <section class="space-y-4 mt-4">
            <div class="overflow-x-auto bg-white shadow-md rounded-lg">
                <table class="min-w-full table-auto">
                    <thead class="bg-gray-100 ">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Nom de la Série</th>
                        <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Date de Création</th>
                        <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for series in exposureSeries %}
                        <tr class="border-t hover:bg-gray-200">
                            <td class="px-6 py-4 text-sm font-medium text-gray-900">{{ series.label }}</td>
                            <td class="px-6 py-4 text-sm text-gray-500">{{ series.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td class="px-6 py-4 text-sm">
{#                                {{ path('exposure_series_show', { 'id': series.id }) }}#}
{#                                {{ path('exposure_series_edit', { 'id': series.id }) }}#}
                                <a href="" class="text-indigo-600 hover:text-indigo-900">Voir les paramètres</a>
                                <a href="" class="ml-2 text-blue-600 hover:text-blue-900">Télécharger les expositions</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3" class="px-6 py-4 text-sm text-center text-gray-500">Aucune série d'exposition trouvée.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <div class="pagination mt-auto pt-4">
            {{ knp_pagination_render(exposureSeries, 'bundles/KnpPaginatorBundle/Pagination/tailwind.html.twig') }}
        </div>
    </div>
{% endblock %}
