{% extends 'base.html.twig' %}

{% block title %}Meteo Files
{% endblock %}

{% block body %}
    <div class="mx-[10%] px-4 py-8 ">
        {% for message in app.flashes('success') %}
            <div class="bg-green-100 p-4 mb-4 rounded-lg">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="bg-red-100 p-4 mb-4 rounded-lg">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="text-2xl font-bold mb-6">Vos stations méteos</h1>
        <div class="flex justify-between items-center p-6 bg-gray-50 border border-gray-200 rounded-lg shadow-sm">
            <p class="text-xl">Ajouter une nouvelle station</p>
            <a href="{{ path('weather_station_add') }}" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 focus:outline-none cursor-pointer">Ajouter</a>
        </div>

        <section class="space-y-4">
            {% for meteoFile in meteoFiles %}
            <div class="flex justify-between items-center p-6 bg-gray-50 border border-gray-200 rounded-lg shadow-sm mt-4">
                <p class="text-lg font-medium text-gray-700">{{ meteoFile.getLocalFileName() }}</p>
                <a href="{{ path('exposure_series', {'id': meteoFile.id}) }}" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none transition-all">Expositions</a>
            </div>
            {% endfor %}
            {# Ajouter d'autres fichiers ici si nécessaire #}
        </section>
    </div>
{% endblock %}