<header class="bg-black flex justify-center items-center text-white p-4">
	<nav class="flex text-xl text-center justify-around font-bold space-x-10">

		<a href="{{path('index')}}" class="hover:text-[#808080]">Accueil</a>

		<a href="{{path('meteo_form')}}" class="hover:text-[#808080] disabled-link">Climat</a>

		<a href="{{path('index')}}" class="hover:text-[#808080] disabled-link">Transport model</a>

		<a href="{{path('index')}}" class="hover:text-[#808080] disabled-link">Probabiliste</a>

		{% if app.user %}
			<a href="{{ path('app_logout') }}" class="hover:text-[#808080]">Déconnexion</a>
		{% else %}
			<a href="{{ path('app_login') }}" class="hover:text-[#808080]">Connexion</a>
		{% endif %}

	</nav>
{% if not app.user %}
	<style>
		.disabled-link {
			color: #808080;
			pointer-events: none;
			cursor: default;
		}
	</style>
{% endif %}
</header>
